# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL=example

# Redis
REDIS_URL=example

# JWT
JWT_SECRET=example
JWT_SECRET_REFRESH=example
JWT_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d

# Uploads
UPLOADS_DIR=example
